# Ignore Node.js dependencies
node_modules/

# Ignore React build files
client/build/

# Ignore backend build files
server/build/

# Ignore environment files
.env
client/.env
server/.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore large media files (optional)
